<template>
    <div class="">
        <div v-if="single">
            <ul class="nav justify-content-center">

                <li class="nav-item">
                    <a  class="nav-link" @click="edit(slug)">Edit</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" @click="destroy(slug)">Delete</a>
                </li>

            </ul>
        </div>
        <div v-else>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a  class="nav-link" @click="list">Article</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" @click="create">Create</a>
                </li>
            </ul>
        </div>



        <keep-alive>
            <component v-bind:is="currentTabComponent"></component>
        </keep-alive>
    </div>


</template>


<script>

import BusEvent from '../../bus'
export default {
    data(){
        return{
            current:"list-article-component",
            single:'',
            slug:''
        }
    },methods:{
        list(){
            this.current = 'list-article-component'
        },
        create(data){
            this.current = 'form-article-component'
        },
        edit(data){
            BusEvent.$emit('edit',data);
            this.current = 'form-edit-article-component'
        },
        destroy(slug){

            if (confirm('Yakin Mengahapus?')) {
                axios.delete(`/article/${slug}`).then(response =>{
                    BusEvent.$emit('deleted-article')
                });
            } else {
                return
            }
        }
    },computed: {
        currentTabComponent: function() {
            return this.current;
        }
    },mounted(){
        BusEvent.$on('all-article',()=>{
            this.single = false
            return this.list()
        })
        BusEvent.$on('show-article',(data)=>{
            console.log(data.slug);
            this.slug = data.slug
            this.single = true
            return this.list()
        })
    }

}
</script>
