<template>
    <div class="article-list" >
        <h3>Edit Article</h3>


            <form class="">
                <div class="form-action">
                    <input type="text" class="form-control" :judul="judul" v-model="judul" placeholder="Judul Article">
                    <textarea rows="10" class="form-control"
                        v-model="isi"
                        :isi="isi"
                        placeholder="Isi Article">
                    </textarea>

                    <button type="button" v-on:click="submit(slug)" class="btn btn-primary form-control">Submit</button>
                    <button type="button" v-on:click="cancel(slug)" class="btn btn-danger form-control">Cancel</button>

                </div>

            </form>


    </div>

</template>


<script>
    import BusEvent from '../../bus'
    import moment from 'moment'
    export default {
        data(){
            return{
                judul:'',
                isi:'',
                slug:''
            }
        },
        mounted(){
            BusEvent.$on('edit',(data)=>{
                axios.get(`/article/${data}`).then(response =>{
                    console.log(response);
                    this.judul = response.data[0].judul,
                    this.isi = response.data[0].isi
                    this.slug = response.data[0].slug
                });
            })
        },methods:{
            submit(slug){
                //console.log(slug);
                let judulInput = this.judul.trim()
                let isiInput = this.isi.trim()

                let editPost={
                    isi:isiInput,
                    judul:judulInput,
                }
                axios.post(`/article/${slug}/edit`,editPost).then(response =>{
                    console.log(response.data);
                    BusEvent.$emit('show-article',response.data);
                    BusEvent.$emit('edited-article',slug);

                    this.judul = '',
                    this.isi = ''
                })
            },
            cancel(data){
                axios.get(`/article/${data}`).then(response =>{
                    console.log(response.data);
                    BusEvent.$emit('show-article',response.data[0])
                });
            }
        }

    }
</script>
<style media="screen">
    .form-control{
        margin-bottom: 10px;
    }
</style>
