<template>
    <div class="article-list">

        <div class="article-post"  v-for="post in posts">

            <h2 class="article-post-title"><a @click="show(post.slug)" class="nav-link">{{post.judul}}</a></h2>
            <p class="article-post-meta">{{post.created_at}} <a href="#">{{post.user.name}}</a></p>

            <p>{{post.isi}}</p>
            <div v-if="posts.single" @click="back">

                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.104 2.396a.5.5 0 0 1 0 .708L3.457 5.75l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M2.75 5.75a.5.5 0 0 1 .5-.5h6.5a2.5 2.5 0 0 1 2.5 2.5v5.5a.5.5 0 0 1-1 0v-5.5a1.5 1.5 0 0 0-1.5-1.5h-6.5a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
        </div><!-- /.article-post -->
        <hr>
    </div>

</template>


<script>
    import BusEvent from '../../bus'
    export default {
        data(){
            return{
                posts:[],
            }
        },mounted() {
            BusEvent.$on('create-article',(newPost)=>{
                this.posts.unshift(
                {
                    slug :newPost.slug,
                    judul :newPost.judul,
                    created_at :newPost.created_at,
                    user:newPost.user,
                    slug:newPost.slug,
                    isi :newPost.isi,
                })
                console.log(newPost.slug);
            })
            BusEvent.$on('edited-article',(editPost)=>{
                return this.show(editPost)
            })
            BusEvent.$on('deleted-article',()=>{
                return this.back()
            })
            this.getAllPosts();

        },methods:{
            getAllPosts(){
                axios.get('/article/all').then(response =>{
                    this.posts = response.data
                    this.posts.single = false
                })
            },show(slug){
                axios.get(`/article/${slug}`).then(response =>{
                    console.log(response.data[0]);
                    this.posts = response.data
                    this.posts.single = true
                    BusEvent.$emit('show-article',response.data[0])
                });
            },back(){
                this.getAllPosts();
                BusEvent.$emit('all-article')
            }
        }
    }

</script>
