<template>
    <div class="">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a  class="nav-link" @click="list">Article</a>
            </li>
        </ul>

        <keep-alive>
            <component v-bind:is="currentTabComponent"></component>
        </keep-alive>
    </div>
</template>


<script>
import BusEvent from '../../bus'
export default {
    data(){
        return{
            current:"user-list-article-component"
        }
    },methods:{
        list(){
            this.current = 'user-list-article-component'
        },
        edit(data){
            BusEvent.$emit('edit-user-article',data)
            return this.create();
        }
    },computed: {
        currentTabComponent: function() {
            return this.current;
        }
    },mounted(){
        BusEvent.$on('redirect-edit-user-article',(data)=>{
            return this.edit(data);
        });
    }

}
</script>
