<template>
    <div class="article-list">

        <div class="article-post"  v-for="post in posts">

            <h2 class="article-post-title"><a @click="show(post.slug)" class="nav-link">{{post.judul}}</a></h2>
            <p class="article-post-meta">{{post.created_at}}<a href="#">{{post.user.name}}</a></p>
            <p>{{post.isi}}</p>
            <div v-if="posts.single" @click="back">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.104 2.396a.5.5 0 0 1 0 .708L3.457 5.75l2.647 2.646a.5.5 0 1 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M2.75 5.75a.5.5 0 0 1 .5-.5h6.5a2.5 2.5 0 0 1 2.5 2.5v5.5a.5.5 0 0 1-1 0v-5.5a1.5 1.5 0 0 0-1.5-1.5h-6.5a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
            <div v-if="posts.comment">
                <form class="">
                    <div class="form-action">
                        <textarea rows="3" class="form-control"
                            v-model="isi"
                            placeholder="Isi Article"
                            @keydown="handleInput">
                        </textarea>
                    </div>
                </form>
            </div>
            {{isi}}
        </div><!-- /.article-post -->
        <hr>
    </div>

</template>


<script>
    import BusEvent from '../../bus'
    import moment from 'moment'
    export default {
        data(){
            return{
                posts:[],
                isi: ""
            }
        },mounted() {
            BusEvent.$on('create-user-article',(newPost)=>{
                this.posts.unshift(
                {
                    slug :newPost.slug,
                    judul :newPost.judul,
                    created_at :newPost.created_at,
                    user:newPost.user,
                    isi :newPost.isi,
                })
            })
            this.getAllPosts();
        },methods:{
            getAllPosts(){
                axios.get('/article/all').then(response =>{

                    this.posts = response.data
                    console.log(response.data)
                    this.posts.single = false

                })
            },show(slug){
                axios.get(`/article/${slug}`).then(response =>{
                    this.posts = response.data
                    this.posts.data = response.data[0]
                    this.posts.single = true
                    this.posts.comment = true

                });
            },back(){
                this.getAllPosts();
            },handleInput(e){
                if(e.keyCode === 13 && !e.shiftKey){
                    e.preventDefault();
                    this.submit();
                }
            },
            
            submit(){
                let inputPesan = this.isi.trim();
                if(inputPesan === ""){
                    return
                }

                let pesanBaru = {
                    isi : inputPesan,
                    article_slug : this.posts.data.slug,
                    created_at : moment().utc(0).format("YY-MM-DD HH:mm:ss"),
                    user : Laravel.user
                }
                axios.post('/article/${this.posts.data.slug}/comment/store',pesanBaru).then(response =>{
                    BusEvent.$emit('create-comment',pesanBaru);
                    this.isi = ''
                })
            }
        }
    }

</script>
